
.hero-container{
    padding-top: 10px;
}

.hero-name{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 15rem;
    gap: 40px;
  
}
@media (max-width:900px){
    .hero-name{
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        padding-top: 15rem;
    }
}
.hero-name p{
    padding-top: 30px;
    font-size: 1.5rem;
}

.container{
    margin-left: 33%;
    margin-right: 33%;
}
@media(max-width:900px){
  .container{
    margin-left: 11%;
    margin-right: 11%;
  }
}


.writing-text {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
   /* margin-left: 40%;
   margin-right: 40%; */
    animation: writing-animation 15s steps(300, end) forwards;
    animation-delay: -10s;
    animation-iteration-count: infinite;
  }
  
   .text {
    display: inline-block;
    animation: cursor-blink 5s infinite;
    color: white;
    font-size: 1.4rem;
    text-align: center;
  }
  @media(max-width:900px){
    .text{
      font-size: 1.1rem;
    }
  }
    

  
  @keyframes writing-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  
  @keyframes cursor-blink {
    from, to
 {
      border-right-color: white;
    }
    50% {
      border-right-color: white;
    }
  }