*{
    font-size: 0.9rem;
}
.hero-container{
    padding-top: 10px;
}

.hero-name{
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-top: 15rem;
    gap: 40px;
    margin-left: 2rem;
  
}
.hero-name h1{
    font-size: 3.5rem;
}
.hero-name h4{
    font-size: 2rem;
    padding-top: 30px;
}


@media (max-width:990px){
    .hero-name {
        font-size: 1.5rem;
        padding-top: 15rem;
    }
    .hero-name h1{
        font-size: 2.5rem;
    }
    .hero-name h4{
        font-size: 1.5rem;
        padding-top: 30px;
        
    }
   
}
