nav{
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:rgb(8, 7, 7);
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav .logo{
    padding: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}

.desktop{
    display: flex;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 60%;
}
@media(max-width:990px){
    nav ul li:hover::after{
    width: 20%;
    }
}

.logo::before {
    margin-left: auto;
  }
  
  .logo::after, .logo::before {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    transition: 0.5s;
  }
  
  .logo:hover::after, .logo:hover::before {
    width: 100%;
  }

.title{
    color: blue;
}
nav ul{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-right: 10%;
}
ul li{
    list-style: none;
    cursor: pointer;
    font-size: 0.9rem;
    
    
}
 a{
    text-decoration: none;
    color: white;
}

nav img{
display: block;
margin: 15px;
}
.close-btn{
    display: none;
}
@media(max-width:990px){

    .desktop{
        width: 60%;
        height: 100vh;
        background-color: black;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: left;
    
    }

}

@media (min-width: 990px){
    .menu-btn , .close-btn{
        display: none;
    } 
    
}
@media (max-width: 990px){
    .desktop{
        display: none;
    }
    .close-btn{
        display: none;
    }
   
   
}
   
   
@media (max-width: 990px){
    .desktop{
        width: 50%;
    }
    nav{
        
        right: 0px;
    }
}